/* ********************************************** */
  /*                      HEADER                    */
  /* ********************************************** */
  
  .container-header {
    width: 100%;
    max-width: 100%;
  }
  
  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 100%;
    height: 56px;
    padding: 3px;
    border-radius: 28px;
  
    border-bottom: 1px solid #e0d6c2;
    border-left: 1px solid #e0d6c2;
    border-right: 1px solid #e0d6c2;
    border-top: 1px solid #e0d6c2;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 100%;
    padding: 0px;
  }
  
  .nav-mid {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  
    height: 100%;
    width: auto;
    max-width: calc(100% - 3px);
  
    margin: 0px 3px 0px 0px;
    padding: 0px 40px 0px;
    border-radius: 32px;
  
    border-bottom: 1px solid #e0d6c2;
    border-left: 1px solid #e0d6c2;
    border-right: 1px solid #e0d6c2;
    border-top: 1px solid #e0d6c2;
  }
  
  .child-mid {
    margin: 0;
  }
  
  .nav-right {
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav-btn.child-1 {
    width: 370px;
    border: none;
    background: rgba(155, 134, 79, 0.2);
  }
  
  .hover-item:hover {
    background: #e0d6c2;
  }
  
  .hover-item:hover .item-text {
    color: #1a1c19;
  }
  
  .item-text {
    width: auto;
    height: auto;
    max-width: 100%;
    color: #e0d6c2;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1.4;
  }